footer {
    position: relative;
    height: 50px;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_link {
    color: white;
    font-family: 'Open Sans';
    font-size: 1vw;
    font-weight: 50;
    margin: 0;
}