body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: 'Open Sans';
}

h1 {
    font-family: 'Chewy';
    letter-spacing: 2px;
    font-size: 3vw;
}

h2 {
    color: white;
    font-family: 'Open Sans';
    font-size: 1vw;
    font-weight: 50;
    margin: 0;
}

.separator {
    width: 90%;
    border-top: 3px solid black;
}

.text_yellow {
    color: #f8d73e;
    font-family: 'Chewy';
    font-size: 1.4vw;
}

a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f8d73e;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

.button_bright {
    position: fixed;
    background-color: #f8d73e;
    color: black;
    border-radius: 7px;
    border: none;
    font-family: 'Chewy';
    font-size: 22px;
    padding: 25px 35px 25px 35px;
    transition: 250ms;
    cursor: pointer;
}
.button_bright:hover {
    padding: 20px 30px 20px 30px;
    border: solid 5px black;
}

.button_dark {
    position: fixed;
    background-color: black;
    color: #f8d73e;
    border-radius: 7px;
    border: none;
    font-family: 'Chewy';
    font-size: 22px;
    padding: 25px 35px 25px 35px;
    transition: 250ms;
    cursor: pointer;
}
.button_dark:hover {
    padding: 20px 30px 20px 30px;
    border: solid 5px #f8d73e;
}

.social_btn {
    height: 100px;
    cursor: pointer;
    transition: 200ms;
}
.social_btn:hover {
    filter: drop-shadow(0px 0px 2px black);
}

.social_link:hover::after {
    transform: scaleX(0);
}