.homeblock {
    width: 100%;
    height: 91.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.homeblock_buttons {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    filter: drop-shadow(10px 10px 20px black);
}

.homecontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
}

#homeblock_logo {
    height: 35vh;
    margin-top: 6%;
    margin-bottom: 8%;
    width: auto;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px black);
}

#video_container {
    position: fixed;
    display: block;
    height: 90%;
}

#homevideo {
    margin-top: -150px;
}

#btn_creations {
    margin-right: 350px;
}

#btn_contact {
    margin-left: 350px;
}

#presentation_text {
    align-self: self-start;
    margin-bottom: 40px;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 40px;
}