.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 100px;
}

main {
    display: flex;
    align-items: center;
    height: 83%;
}